<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="static/lib/p5.js"></script>
    <script src="static/lib/p5.sound.min.js"></script>
    <script src="static/lib/matter.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style/game.css">
    <meta charset="utf-8" />

  </head>
  <body>
    <main>
    </main>
    <script src="static/js/game.js"></script>
    <script src="static/js/objects.js"></script>
    <script src="static/js/astronaut.js"></script>
    <script src="static/js/targets.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/timer.js"></script>
    <script src="static/js/particles.js"></script>
  </body>
</html>
