<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Station Registration</title>
    <link rel="stylesheet" href="/static/style/login.css">
</head>

<body>
    <h1>Space Station Registration</h1>
    <div class="form-container">
        <form action="/register" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter Your Username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter Your Password" required>

            <label for="space_station">Space Station Name</label>
            <input type="text" id="space_station" name="space_station" placeholder="Which Space Station Are You From?"
                required>

            <input type="submit" value="Register">
        </form>
        <div class="register-link">
            <p>Already have an account? <a href="/login">Login now!</a></p>
        </div>
    </div>
</body>

</html>
